* {
  box-sizing: border-box;
}

header, .navbar-brand{
  background-color: #3D7DCA; /*pokemon yellow */
  color: #3D7DCA;
  padding: 20px;
}

.btn-warning {
  background-color: #ffcb05;
  color: #3D7DCA;
  transition-duration: 0.4s;
}

.btn-warning:hover {
  background: rgba(255,222,94,.9);
  color: rgba(24,50,82,0.5);
}

body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #003A70;
}

.page-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.home {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

.poke-list {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

.pokemon-list {
  list-style-type: none;
  padding: 0;
}

.button-class {
  display: flex;
  background-color: #222224;
  color: #f0f0f0;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  text-align: left;
}

.modal {
  padding: 15px;
  width: 100%;
  text-align: left;
}

.modal-header, .modal-footer {
  background-color: #ffcb05;
}
